@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #F5EFE7;
  --fg: #0E3B2E;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: theme('fontFamily.body');
}
